<!DOCTYPE html>
<html>
<head>
    <title>Чат</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const socket = io.connect(window.location.protocol + '//' + document.domain + ':' + location.port);

            socket.on('new_message', function(data) {
                const chatMessages = document.getElementById('chat-messages');
                const chatMessage = document.createElement('p');
                chatMessage.innerHTML = `<strong>${data.user}</strong> (${data.timestamp}): ${data.message}`;
                chatMessages.appendChild(chatMessage);
            });

            const form = document.getElementById('send-message-form');
            form.addEventListener('submit', function(event) {
                event.preventDefault();
                const messageInput = document.getElementById('message-input');
                const message = messageInput.value;
                if (message.trim()) {
                    socket.emit('send_message', {message: message});
                    messageInput.value = '';
                }
            });
        });
    </script>
</head>
<body>
    <h1>Чат</h1>
    <div id="chat-messages">
        {% for message in messages %}
            <p><strong>{{ message.user.username }}</strong> ({{ message.timestamp }}): {{ message.message }}</p>
        {% endfor %}
    </div>
    <form id="send-message-form">
        <label>Сообщение:</label>
        <input type="text" id="message-input" required>
        <input type="submit" value="Отправить">
    </form>
    <a href="{{ url_for('logout') }}">Выйти</a>
</body>
</html>
