<!DOCTYPE html>
<html>
<head>
    <title>Список пользователей</title>
</head>
<body>
    <h1>Список пользователей</h1>
    <div>
        {% for user in users %}
            {% if user.id != current_user.id %}
                {% for chat_id, username in chat_usernames.items() %}
                    {% if user.username == username %}
                        <form action="{{ url_for('chat_view', chat_id=chat_id) }}" method="get">
                            <button type="submit">{{ user.username }}</button>
                        </form>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
    <a href="{{ url_for('logout') }}">Выйти</a>
</body>
</html>
