<!DOCTYPE html>
<html>
<head>
    <title>Введите токен вашего Telegram бота</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='ConnectionStyle.css') }}">
</head>
<body>
<h1>Введите токен вашего Telegram бота</h1>
<form method="post">
    <div class="center-block">
        <input type="text" name="token" placeholder="Введите токен" class="error">
        <span id="error-message"></span>
        <div class="button-container">
            <button type="submit">Продолжить</button>
            <a href="../templates/Guide.html" class="guide-button">Гайд по подключению Telegram</a>
        </div>
    </div>
</form>
<!--<script>-->
<!--    const form = document.querySelector('#token-form');-->
<!--    form.addEventListener('submit', (event) => {-->
<!--        event.preventDefault();-->
<!--        const formData = new FormData(form);-->
<!--        fetch('/telegram_source_connection', {-->
<!--            method: 'POST',-->
<!--            body: formData-->
<!--        })-->
<!--            .then(response => response.json())-->
<!--            .then(data => {-->
<!--                console.log(data);-->
<!--                // handle successful response from server-->
<!--            })-->
<!--            .catch(error => {-->
<!--                console.error('Error:', error);-->
<!--                // handle error-->
<!--            });-->
<!--    });-->
<!--</script>-->
</body>
</html>