<!DOCTYPE html>
<html lang="en">
<head>
    <title>Настройки</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/Settings.css">
</head>
<body>
<div id="settings">
    <div id="settings-menu">
        <!--В верхнем меню пока заглушки кнопок            -->
        <div id="top-menu">
            <button class="menu-button active" id="clients-btn">Клиенты</button>
            <button class="menu-button" id="company-btn">Компания</button>
        </div>
        <div id="bottom-menu">
            <button class="menu-button" id="contacts-btn">Контакты</button>
            <button class="menu-button" id="chats-btn">Чаты</button>
            <button class="menu-button" id="settings-btn">Настройки</button>
        </div>
        <div id="center-menu">
            <button class="menu-button" id="auto-reply-btn">Настройка автоматических ответов</button>
            <button class="menu-button" id="quick-commands-btn">Настрйка быстрых команд</button>
            <button class="menu-button" id="sources-btn">Источники</button>
        </div>
    </div>
</div>
<!--<script>-->
<!--    // Получаем элементы кнопок меню и блока с настройками-->
<!--    const clientsBtn = document.getElementById("clients-btn");-->
<!--    const companyBtn = document.getElementById("company-btn");-->
<!--    const contactsBtn = document.getElementById("contacts-btn");-->
<!--    const chatsBtn = document.getElementById("chats-btn");-->
<!--    const settingsBtn = document.getElementById("settings-btn");-->
<!--    const autoReplyBtn = document.getElementById("auto-reply-btn");-->
<!--    const quickCommandsBtn = document.getElementById("quick-commands-btn");-->
<!--    const sourcesBtn = document.getElementById("sources-btn");-->
<!--    const settingsBlock = document.getElementById("settings");-->

<!--    // Создаем функцию, которая будет показывать нужный блок настроек при нажатии на соответствующую кнопку-->
<!--    function showSettingsBlock(blockId) {-->
<!--        // Получаем все блоки с настройками и скрываем их-->
<!--        const settingsBlocks = document.querySelectorAll(".settings-block");-->
<!--        for (let i = 0; i < settingsBlocks.length; i++) {-->
<!--            settingsBlocks[i].style.display = "none";-->
<!--        }-->
<!--        // Получаем нужный блок и показываем его-->
<!--        const block = document.getElementById(blockId);-->
<!--        block.style.display = "block";-->
<!--    }-->

<!--    // Обрабатываем нажатие на кнопки меню-->
<!--    clientsBtn.addEventListener("click", function () {-->
<!--        showSettingsBlock("clients-settings");-->
<!--    });-->
<!--    companyBtn.addEventListener("click", function () {-->
<!--        showSettingsBlock("company-settings");-->
<!--    });-->
<!--    contactsBtn.addEventListener("click", function () {-->
<!--        showSettingsBlock("contacts-settings");-->
<!--    });-->
<!--    chatsBtn.addEventListener("click", function () {-->
<!--        showSettingsBlock("chats-settings");-->
<!--    });-->
<!--    settingsBtn.addEventListener("click", function () {-->
<!--        showSettingsBlock("main-settings");-->
<!--    });-->

<!--    // Обрабатываем нажатие на кнопки в центральном меню-->
<!--    autoReplyBtn.addEventListener("click", function () {-->
<!--        showSettingsBlock("auto-reply-settings");-->
<!--    });-->
<!--    quickCommandsBtn.addEventListener("click", function () {-->
<!--        showSettingsBlock("quick-commands-settings");-->
<!--    });-->
<!--    sourcesBtn.addEventListener("click", function () {-->
<!--        showSettingsBlock("sources-settings");-->
<!--    });-->

<!--</script>-->
</body>
</html>