#messages-container {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
    /*flex-grow: 1;*/
    overflow-y: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    max-height: calc(100% - 20px);;

    flex: 1;
}

#messages-container .sent-message {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    margin-bottom: 10px;
    z-index: 1;
}

#messages-container .received-message {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 10px;
    z-index: 1;
}

#messages-container .sent-message .message-content {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 49%;
    word-wrap: break-word;
}

#messages-container .received-message .message-content {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 49%;
    word-wrap: break-word;
    overflow: auto
}

#starting-chat-message {
    position: relative;
    background-color: #E0C3FC;

    border-radius: 10px;
    padding: 10px;

    margin: auto;
    font-size: 18px;
    width: fit-content;
    height: fit-content;
    display: flex; /* add display: flex */
    flex-direction: column; /* make child elements stack vertically */
    justify-content: center; /* center child elements vertically */
    align-items: center; /* center child elements horizontally */
}

.received-message {
    justify-content: flex-start; /* align received messages to the left */
}
