#messages-container {
    display: flex;
    flex-direction: column-reverse;
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
}

#messages-container .sent-message {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    margin-bottom: 10px;
    z-index: 1;
}

#messages-container .received-message {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 10px;
    z-index: 1;
}

#messages-container .sent-message .message-content {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#messages-container .received-message .message-content {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#starting-chat-message {
    position: absolute;
    background-color: plum;

    margin: auto;
    font-size: 20px;
    width: fit-content;
    height: fit-content;
    display: flex; /* add display: flex */
    flex-direction: column; /* make child elements stack vertically */
    justify-content: center; /* center child elements vertically */
    align-items: center; /* center child elements horizontally */
}

.received-message {
    justify-content: flex-start; /* align received messages to the left */
}
