/*Block with css styling for Settings (accessible in dropdown menu in the app via clicking on bars in
the upper left corner of the app)*/


/*Block of css styling for settings list (left part of the app)*/
.left-side .body-container .left-side-object-list {
    display: flex;
    flex-direction: column;
}

.left-side .left-side-object-list .settings-box .settings-image {
    width: 5.4rem;
    height: 5.4rem;
    flex-basis: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-side .left-side-object-list .settings-box .settings-image img {
    max-width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.left-side .body-container .left-side-object-list .settings-box {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    min-height: 7rem;
    padding: 0 1rem;
    cursor: pointer;
    transition: all .3s ease;
}

.left-side .left-side-object-list .settings-box .left-side-object-from-list-details {
    flex-basis: 85%;
}

.left-side .left-side-object-list .settings-box .settings-details {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.left-side .settings-box .settings-details .settings-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-side .settings-box .settings-details .settings-title h3 {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.6rem;
}

.left-side .settings-box .settings-details .settings-title span {
    color: var(--grayColor);
    font-size: 20px;
}

.left-side .body-container .left-side-object-list .settings-box:hover {
    background-color: hsla(207, 4%, 46%, .08);
    border-radius: 1rem;
}


/*Block of css styling for settings themselves (right part of the app)*/

.container #fast-responses-title {
    position: relative;
    background-color: var(--whiteColor);
    padding: 0 1rem;
    display: flex;
    height: 7rem;
    z-index: 1;
}

.container #fast-responses-title .title-image {
    width: 4.2rem;
    height: 4.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container #fast-responses-title .title-image img {
    border-radius: 50%;
    max-width: 100%;
    object-fit: cover;
}

.container #fast-responses-title {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    gap: .5rem;
}

.container #fast-responses-title h3 {
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: 500;
}

#fast-command-block {
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: transparent;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: inherit;
    z-index: 1;
}

#short-version-text-area {
    position: relative;
    width: calc(100% - 80px - 50px - 60px - 300px);
    border: none;
    border-radius: 20px;
    bottom: 5px;
    float: left;
    left: 10px;
    min-width: 150px;
    max-width: 200px;
    margin-right: 30px;
    margin-left: 5px;
    display-inside: ruby;
    padding: 10px 45px 10px 10px;
}

#full-version-text-area {
    position: relative;
    width: calc(100% - 80px - 50px - 60px - 200px);
    border: none;
    border-radius: 20px;
    bottom: 5px;
    float: right;
    right: 10px;
    min-width: 150px;
    margin-right: 10px;
    margin-left: 5px;
    display-inside: ruby;
    padding: 10px 45px 10px 10px;
}

#fast-command-change-button {
    position: relative;
    width: 75px;
    background-color: #0088cc;
    color: #fff;
    border: none;
    bottom: 5px;
    border-radius: 20px;
    padding: 10px 45px 10px 10px;
    cursor: pointer;
    float: left;
    margin-left: 10px;
}

#fast-commands-list-container {
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #E0C3FC;
    bottom: 0;
    height: 400px;
    left: 0;
    right: 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
    display: inherit;
    z-index: 1;
}

#fast-commands-list-container li {
    clear: both;
    list-style-type: none;
    margin-bottom: 15px;
}

.short_fast_command {
    float: left;
    margin-right: 80px;
    font-size: 32px;
}

.full_fast_command {
    float: left;
    margin-right: 10px;
    font-size: 32px;
}

#fast-command-delete {
    display: flex;
    float: right;
    width: 32px;
    background-color: #E0C3FC;
}

ul.fast-commands-list-container::after {
    content: "";
    display: table;
    clear: both;
}